html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("/bg-image.jpg") center bottom;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

.topPortion {
    margin-left: 20px;
}

.heading {
    margin-top: 60px;
    font-weight: bolder;
    color: white;
}

.userCard {
    padding: 15px;
    margin-top: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
}

.profileDetails {
    margin: 50px;
    color: white;
    font-weight: bolder;
}

.repoLink {
    color:blue;
    cursor:pointer;
}

.cardContainer {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
}

.cardStyle {
    margin-left: 20px;
    width: 280px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.cardStyle:hover {
    transform: scale(1.1);
}

.profileImg {
    border-radius: 100%;
    width: 280px;
    height: auto;
    opacity: 100%;
}